<div id="page-wrap">
<!-- Navigation bar -->
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">rka</a>
    </div>
    <div class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <rka-add-feed-form class="navbar-form navbar-right"></rka-add-feed-form>
    </div>
  </div>
</div>

<!-- Main content -->
<div class="container" ng-controller="MainCtrl">
  <div class="row">

    <section id="messages-wrap" class="col-xs-12">
      <div class="alert alert-warning" ng-show="feeds.isEmpty()">
        <p><strong>Oops!</strong> It looks like you don't have any Reddit Feeds!</p>
        <p>Use the form in the menu above to add a new one or <a href ng-click="feeds.add('supershibe',{type:'hot'})">click here to add a random feed</a>.</p>
      </div>
    </section>

    <section id="feeds-wrap" class="col-xs-12">
        <div rka-feed ng-repeat="feed in feeds.getAll()" id="{{feed.sr}}_f" feed="feed" delete-feed="feeds.delete(feed.sr)" class="feed panel panel-primary"></div>
    </section>

  </div>
</div>

<!-- Footer information -->
<div class="container">
  <footer class="footer">
    <hr />
    <p class="text-muted pull-right">
      <a href="http://github.com/anakorn">Alex Nakorn</a> &copy; 2014
    </p>
  </footer>
</div>
</div>